#topButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#topButton:hover {
  background-color: #555;
}





/*Header*/


.header {
  background-color:  rgba(255,255,255,0);
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu li a {
  text-decoration: none;
  padding: 10px;
  color: #333;
}

.menu li a:hover {
  font-weight: bold;
}


.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle img {
  width: 15px; /* 원하는 너비로 조정 */
  height: auto; /* 너비에 맞춰 자동으로 높이 조정 */
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .menu li {
    width: 100%;
    text-align: center;
    line-height: 40px;
  }

  .menu-toggle.active .menu-icon:nth-child(1) {
    transform: rotate(45deg) translateX(5px);
  }

  .menu-toggle.active .menu-icon:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .menu-icon:nth-child(3) {
    transform: rotate(-45deg) translateX(5px);
  }

  .menu-toggle.active + .menu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}



/*Home*/

.home {
    margin-left:0px;
    margin-right:0px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    position:relative;
}

@media (max-width: 1000px) {
    .home {
      flex-direction: column;
    }
  }


.profile_text{
    flex:3;
    text-align: left;
}

.profile_image{
    flex:1;
}



h1{
    margin-left:100px;
    margin-right:0px;
    margin-bottom: 0px;
    font-size:80px;
    font-family: "Luckiest Guy";
}

@media (max-width: 1000px) {
    h1 {
        font-size:30px;
        margin-left:10px;
        margin-right:10px;
    }
  }


#profile_image{
    height:300px;
    float:right;
    margin-left:0px;
    margin-right: 100px;
    position: absolute;
    bottom:100px;

}

@media (max-width: 1000px) {
  #profile_image {
        float:center;
        bottom:auto;
        align-items: center;
        position:relative;
    }
  }


#p_profile{
    font-size:20px;
    color: #707070;
    margin-left:100px;
    margin-right:100px;
}

@media (max-width: 1000px) {
    #p_profile {
        margin-left:10px;
        margin-right:10px;
    }
  }

/* page2 */

.about{
    margin-left:0px;
    margin-right:0px;
    padding-top:10px;
    padding-bottom:70px;
    display: flex;
    /*background-color: #eef0d1;*/
    background-color: white;
    flex-direction: column;
}

h2{
    margin-top: 30px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 10px;
    font-size:25px;
}

@media (max-width: 1000px) {
    h2 {
        margin-left:10px;
        margin-right:10px;
    }
  }

#p_about{
    
    font-size:18px;
    color: black;
    margin-left:120px;
    margin-right:120px;
    margin-bottom:1px;
}

@media (max-width: 1000px) {
    #p_about {
        margin-left:20px;
        margin-right:20px;
    }
  }


/*project*/



.project{
  margin-left:0px;
  margin-right:0px;
  padding-top:10px;
  padding-bottom:70px;
  display: flex;
  /*background-color: #eef0d1;*/
  background-color: white;
  flex-direction: column;
}


#p_project{
    
  font-size:20px;
  color: black;
  margin-left:120px;
  margin-right:120px;
  margin-bottom:1px;
}

@media (max-width: 1000px) {
  #p_project {
      margin-left:20px;
      margin-right:20px;
  }
}


#result_image{
  margin-left:120px;
  margin-right:120px;
  max-width: 100%; /* 이미지가 컨테이너의 너비를 초과하지 않도록 설정 */
  max-height: 100%; /* 이미지가 컨테이너의 높이를 초과하지 않도록 설정 */
}
@media (max-width: 1000px) {
  #result_image {
      margin-left:20px;
      margin-right:20px;
  }
}