
/* page 1 */

.home {
    margin-left:0px;
    margin-right:0px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    background-color: #D1EAF0;
}

@media (max-width: 800px) {
    .home {
      flex-direction: column;
    }
  }


.profile_text{
    flex:1;
    text-align: left;
    margin-right: 15px;
    margin-left: 15px;
}

.profile_image{
    flex:1;
}

h3{
    font-size:30px;
    font-weight: normal;
    line-height: 0;
    margin-left:100px;
    margin-right:15px;
}

h1{
    margin-left:100px;
    margin-right:15px;
}


img{
    height:300px;
    float:right;
    align-items: center;
    margin-left:100px;
    margin-right: 100px;
    border-radius: 20%;
}

@media (max-width: 800px) {
    img {
        display: inline-block;
    }
  }


#p_profile{
    font-size:20px;
    color: #707070;
    margin-left:100px;
    margin-right:100px;
}

/* page2 */

.about{
    margin-left:0px;
    margin-right:0px;
    padding-top:70px;
    padding-bottom:70px;
    display: flex;
    background-color: #eef0d1;
    flex-direction: column;
}

h6{
    margin-top: 30px;
    margin-left:100px;
    margin-bottom: 10px;
    font-size:25px;
}

#p_about{
    
    font-size:15px;
    color: black;
    margin-left:120px;
    margin-right:100px;
    margin-bottom:1px;
}

